@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.svg-container svg path {
  transition: fill 0.3s ease, stroke 0.3s ease, stroke-width 0.3s ease;
}